<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daddy Website</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Remembering Harold W. Berry Jr.</h1>

    <p class="aligncenter">
      <img
        id="daddy"
        src="HWBjrobit.jpg"
        alt="Daddy with grey and blue sweater"
      />

      <p class="aligncenter">
        <img
          id="daddy1"
          src="HWBjrObitInfo.jpg"
          alt="Daddy Obituary"
        />

        <p class="aligncenter">
          <img
            id="daddy2"
            src="HaroldBerrytribute.jpg"
            alt="Remembering him in tribute"
          />

          <p class="aligncenter">
            <img
              id="daddy3"
              src="HaroldBerryp1.jpg"
              alt="Daddy"
            />

            <p class="aligncenter">
              <img
                id="daddy3"
                src="HaroldBerryp2.jpg"
                alt="Daddy with family"
              />

              <p class="aligncenter">
                <img
                  id="daddy3"
                  src="HaroldBerryp3.jpg"
                  alt="Daddy with family"
                />
                <p class="aligncenter">
                  <img
                    id="daddy3"
                    src="HaroldBerryp4.jpg"
                    alt="Daddy with family"
                  />

                  <p class="aligncenter">
                    <img
                      id="daddy3"
                      src="HaroldBerryp5.jpg"
                      alt="Daddy with family"
                    />

                    <p class="aligncenter">
                      <img
                        id="daddy3"
                        src="HaroldBerry6.jpg"
                        alt="Daddy with family"
                      />

                      <p class="aligncenter">
                        <img
                          id="daddy3"
                          src="HaroldBerry7.jpg"
                          alt="Daddy with family"
                        />

    <p>We’ll always remember that special smile,
      that caring heart, that warm embrace, you always gave us.
      You being there for us, through good and bad times, no matter what.
      We’ll always remember you Dad because
      they’ll never be another one to replace you in our hearts,
      and the love we will always have for you.</p>
      <br>

      <p>Daddy's First, (Daddy's Girl)</p>

      <p class="aligncenter">
        <img
          id="daddy3"
          src="HWBwBBafterchurch.jpg"
          alt="Daddy with firstborn"
        />

    <p class="aligncenter">
      <img
        id="daddy4"
        src="Daddy1.png"
        alt="Daddy with grey and blue sweater"
      />
    <p>Here is an area where you may add some nice comments about Harold Jr/Daddy</p>

    

      <section id="app">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div><!--End Comment-->
              </div><!--End col -->
              </div><!-- End row -->
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
            </div><!-- End col -->
          </div><!--End Row -->
        </div><!--End Container -->
      </section><!-- end App -->
      
      <p>If you would like to download a copy of the obituary, here's the link to the obituary. If you are not seeing the link please contact one of his children.</p>
      
    

      <p class="obituary">
        <img
          id="daddy5"
          src="haroldBerry.pdf" 
          alt="Obituary for Harold W. Berry Jr."
        />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Custom JS -->
    <script src="js/script.js"></script>
  </body>
</html>
